
:root {
  /**
   * Colour palette
   */
  --c-green-light: hsl(82, 61%, 55%);
  --c-green-dark: #6D8C37;
  --c-black: hsl(0, 0%, 0%);
  --c-white: hsl(0, 0%, 100%);

  /**
   * Layout
   */
  --l-gutter: 1rem;

  /**
   * Typography
   */
  --t-primary: 'Palatino Linotype', sans-serif;
}


